.activity-card {
  background: hsl(43, 84%, 65%);

  width: 300px;

  border-radius: 5%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: end;
}
.img-div {
  display: flex;
  justify-content: end;

  /* overflow: hidden; */
  /* position: relative; */

  margin-top: -13px;
}
.img-div > img {
  width: 79px;
  height: 79px;

  margin-right: 5%;
}
.activity-card-body {
  background: hsl(235, 46%, 20%);
  padding: 10%;

  display: flex;
  flex-direction: column;

  border-radius: 5%;
  border-top-right-radius: 8%;
  border-top-left-radius: 8%;

  z-index: 1;

  margin-top: -18px;
}
.activity-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;

  padding-bottom: 1.5rem;
}

.activity-timeframes {
  display: flex;
  flex-direction: column;

  align-items: start;

  gap: 10px;
}

.activity-timeframes h1 {
  font-size: 3rem;

  font-weight: 300;

  margin: 0;
}
.activity-timeframes h3 {
  font-weight: 400;

  color: hsl(236, 100%, 87%);

  margin: 0;
}
